/* site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   */
/* site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   */
/* site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   */
/* site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   site basic   */


.primary
{
  color: #F9BF3B;
}

.primaryBg
{
    background-color: #F9BF3B
}

.primary1
{
    color: #1BA39C;
}

.primaryBg1
{
    background-color: #1BA39C;
}

.primary3
{
    color: #959596;
}

.primaryBg3
{
    background-color: #959596;
}


.primary4
{
    color: #C7C7C8;
}

.primaryBg4
{
    background-color: #C7C7C8;
}


.primary5
{
    color: #242628;
}

.primaryBg5
{
    background-color: #242628;
}


.primary7
{
    color: #20cbc4;
}

.primaryBg7
{
    background-color: #20cbc4;
}


.primary8
{
    color: #22ede6;
}

.primaryBg8
{
    background-color: #22ede6;
}



.primary9
{
    color: #2C2D2F;
}

.primaryBg9
{
    background-color: #2C2D2F;
}

body
{
   background-color:  #2C2D2F;
    font-family: 'Lato', sans-serif;
    position: relative;
}

/* first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   */
/* first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   */
/* first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   */
/* first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   first paragraph   */

.btnTheme
{
  border:1px solid #ffffff;
  background-color: #2C2D2F;
  color: #ffffff;
   font-weight: bold;
    text-transform: uppercase;
    padding: 10px 25px;
  -webkit-transition: color 400ms;-moz-transition: color 400ms;-ms-transition: color 400ms;-o-transition: color 400ms;transition: color 400ms;
  -webkit-transition: background-color 600ms;-moz-transition: background-color 600ms;-ms-transition: background-color 600ms;-o-transition: background-color 600ms;transition: background-color 600ms;
}


.btnTheme:hover
{
    border:1px solid #2C2D2F;
    background-color: #ffffff;
    color: #2C2D2F;
}




.btnThemeY
{
    border:1px solid #2C2D2F;
    background-color: #F9BF3B;
    color: #2C2D2F;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 25px;
    -webkit-transition: color 400ms;-moz-transition: color 400ms;-ms-transition: color 400ms;-o-transition: color 400ms;transition: color 400ms;
    -webkit-transition: background-color 600ms;-moz-transition: background-color 600ms;-ms-transition: background-color 600ms;-o-transition: background-color 600ms;transition: background-color 600ms;
}


.btnThemeY:hover
{
    border:1px solid #F9BF3B;
    background-color: #2C2D2F;
    color: #F9BF3B;
}


.btnThemeG
{
    background-color: #1F625F;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    -webkit-transition: color 400ms;-moz-transition: color 400ms;-ms-transition: color 400ms;-o-transition: color 400ms;transition: color 400ms;
    -webkit-transition: background-color 600ms;-moz-transition: background-color 600ms;-ms-transition: background-color 600ms;-o-transition: background-color 600ms;transition: background-color 600ms;
}


.btnThemeG:hover
{
    background-color: white;
    color: #1F625F;
}


.btnSm
{
    padding: 5px 10px !important;
}

.btnThemeNew
{
    border:1px solid #535353;
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 25px;
    -webkit-transition: color 400ms;-moz-transition: color 400ms;-ms-transition: color 400ms;-o-transition: color 400ms;transition: color 400ms;
    -webkit-transition: background-color 600ms;-moz-transition: background-color 600ms;-ms-transition: background-color 600ms;-o-transition: background-color 600ms;transition: background-color 600ms;
}


.btnThemeNew:hover
{
    border:1px solid #333333;
    background-color: #ffffff;
    color: #2C2D2F;
}



.btnThemeYW
{
    border:1px solid white;
    background-color: #F9BF3B;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 25px;
    -webkit-transition: color 400ms;-moz-transition: color 400ms;-ms-transition: color 400ms;-o-transition: color 400ms;transition: color 400ms;
    -webkit-transition: background-color 600ms;-moz-transition: background-color 600ms;-ms-transition: background-color 600ms;-o-transition: background-color 600ms;transition: background-color 600ms;
}


.btnThemeYW:hover
{
    border:1px solid #F9BF3B;
    background-color: white;
    color: #F9BF3B;
}

.btnLarge
{
    padding: 7px 35px !important;
}

.btnRound
{
    border-radius: 50% !important;
}

.btn
{
    border-radius: 0px;
}


/* Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   */
/* Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   */
/* Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   */
/* Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   */


/* bootstrap multilevel dropdown */

.dropdown-submenu{
    position:relative;
}

.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/* bootstrap multilevel dropdown *//* bootstrap multilevel dropdown *//* bootstrap multilevel dropdown *//* bootstrap multilevel dropdown */


#logoNavBar
{
    background: #F9BF3B;
    border: 0px solid red;
}

#logoNavBar .navbar-brand
{
    padding: 0px;
    width: 130px;
    -webkit-transition: color 400ms;-moz-transition: color 400ms;-ms-transition: color 400ms;-o-transition: color 400ms;transition: color 400ms;
    margin-right:20px;
}

#logoNavBar .navbar-brand div
{
    top : -10px;
    padding: 25px;
    color: #F9BF3B;
    background-color: #ffffff;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

#logoNavBar .navbar-brand:hover
{
    color : #F9BF3B;
}

#logoNavBar .navbar-nav>li
{
    padding: 15px 0px;
}

#logoNavBar .navbar-nav>li>a
{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #333333;
    -webkit-transition: color 400ms;-moz-transition: color 400ms;-ms-transition: color 400ms;-o-transition: color 400ms;transition: color 400ms;
    -webkit-transition: background-color 600ms;-moz-transition: background-color 600ms;-ms-transition: background-color 600ms;-o-transition: background-color 600ms;transition: background-color 600ms;
    border-left: 1px solid #333333;
}


#logoNavBar .navbar-nav>li:last-child>a
{
    border-right: 1px solid #333333;
}


#logoNavBar .navbar-nav>li>a:hover
{
    background-color: #F9BF3B ;
    color: white;
}


#logoNavBar .navbar-nav>li.active>a
{
    color: #ffffff;
    background-color: #F9BF3B ;
    -webkit-transition: color 400ms;-moz-transition: color 400ms;-ms-transition: color 400ms;-o-transition: color 400ms;transition: color 400ms;
    -webkit-transition: background-color 600ms;-moz-transition: background-color 600ms;-ms-transition: background-color 600ms;-o-transition: background-color 600ms;transition: background-color 600ms;
}


#logoNavBar .navbar-nav>li.open>a
{
    color: #ffffff;
    background-color: #F9BF3B ;
}


#logoNavBar .navbar-nav>li.active>a:hover
{
    background-color: #F9BF3B;
    color: white;
}


#logoNavBar .navbar-nav>li>.dropdown-menu
{

    color:#F9BF3B;
    background-color:rgba(0,0,0,0);
    top:40px;
}
#logoNavBar .dropdown-menu>li>a
{
    color:#2C2D2F;
    background-color:#F0C96E;

    -webkit-transition: color 400ms;-moz-transition: color 400ms;-ms-transition: color 400ms;-o-transition: color 400ms;transition: color 400ms;
    -webkit-transition: background-color 600ms;-moz-transition: background-color 600ms;-ms-transition: background-color 600ms;-o-transition: background-color 600ms;transition: background-color 600ms;

}


#logoNavBar .dropdown-menu>li>a:hover
{
    color:#F9BF3B;
    background-color:#2C2D2F;
}


#logoNavBar li.dropdown-submenu  ul.dropdown-menu
{
  background-color: rgba(0,0,0,0);
  border-width: 0px;
}



/* Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   */
/* Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   */
/* Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   */
/* Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   Site Navbar   */

#textController
{
    padding: 0px;
    max-width: 350px;
    background-color: white;
    cursor: move;
    display: none;
    position: absolute;
    top:300px;
    left:300px;
    z-index: 1000;
}

#textController .panel
{
    border-radius: 0px;
    margin-bottom: 0px;
}

#textController .panel-heading
{
    border-radius: 0px;
}

#textController .panel-body
{
    border-radius: 0px;
}

#textController .form-control
{
    border-radius: 0px;
}

#textController .input-group-btn
{
    border-radius: 0px;
}

#textController .input-group-addon
{
    border-radius: 0px;
}



#mainController
{
    padding: 0px;
    max-width: 500px;
}

#mainController .panel
{
    border-radius: 0px;
    margin-bottom: 0px;
}

#mainController .panel-heading
{
    border-radius: 0px;
}

#mainController .panel-body
{
    border-radius: 0px;
}

#imagePushModal .modal-body
{
    max-height: 300px;
    overflow: auto;
}